#include "keypos.h"

/ {
    steno_macros {
      m_especially: m_especially {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        tap-ms = <10>;
        bindings = <&macro_tap &kp E &kp S &kp P &kp E &kp C &kp I &kp A &kp L &kp L &kp Y>;
      };


    };

    steno_combos {
      compatible = "zmk,combos";
      c_especially {
        timeout-ms = <0>;
        key-positions = <P_E P_S P_P P_C P_Y>;
        bindings = <&m_especially>;
        layers = <0>;
      };

  
    };
};
